<%= form_for @post do |f|%>

    <span id="when_text"></span>
  <div>
    <span id="event_title">
      <%= f.label :title , "Event:" %>
      <%= f.text_field :title  %>
    </span>
    <span id="event_time">
      <%= f.label :time , "Time:" %>
      <%= f.text_field :time %>
    </span>
    <span id="event_description2">
      <%= f.label :text , "Description" %>
      <%= f.text_area :text %>
    </span>
   <span>
    <%= f.submit%>
    </span>
    <span>
      <%= f.text_field :date, :id=>"date_field" %>
    </span> 
  </div>
<% end %>
