<h1>Listing posts</h1>
<p><%= link_to 'New', new_event_path %></p>
<table>
  <tr>
    <th>Title</th>
    <th>Time</th>
    <th>Text</th>
    <th>Date</th>
  </tr>
 
  <% @posts.each do |post| %>
    <tr>
      <td><%= post.title %></td>
      <td><%= post.time%></td>
      <td><%= post.text %></td>
      <td><%= post.date %></td>
      <td><%= link_to 'Show', event_path(post) %></td>
      <td><%= link_to 'Edit', edit_event_path(post) %></td>
      <td><%= link_to 'Destroy', event_path(post),
                     method: :delete %></td>
    </tr>
  <% end %>
</table>
